// Variables

$gray: #e0e0e0e0;
$blue: #3a7fc2;
$black: #222d32;
$black-light: #606060;
$black-medium: #1b1819;
$white: #fff;
$input: #f1f1f1;
$active: #0d1214;
$danger: #e53935;
$green: #39ea74;
$gray-two: #f2f2f2f2;

$gray-menu: #d4d4d4dd;

$secondary: #3c3c3c;
$sidear-color: $gray-menu;

$icons-path: "../../img/icons/";
$orange: #131351;
$primary: $orange;

$fonts-path: "../../fonts/";

$font-family: "Vision";
$font-family-bold: "Vision Bold";
$font-family-black: "Vision Black";
$font-family-heavy: "Vision Heady";
