// Pagination

.pagination {
  .page-link,
  .page-item {
    color: $orange !important;
    text-decoration: none !important;
    outline: 0px !important;
    box-shadow: none !important;
  }
  .page-item.active {
    .page-link {
      color: white !important;
      background-color: $orange !important;
      border-color: $orange !important;
    }
  }
}
